html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
}
.piosk--container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: green;
}
iframe {
	border: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.hidden {
	visibility: hidden;
	/*display: none;*/
}