<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/public/styles.css">
		<script type="text/javascript">
			window.__kiosk_token = "<%= token %>"
		</script>
	</head>
	<body class="container">
		<div class="piosk--container">
		</div>
		<script type="text/javascript" src="/public/index.js"></script>
	</body>
</html>